

.body{
    -fx-margin: 0;
    -fx-padding: 0;
    -fx-font-family: Symbol;
    -fx-background: linear-gradient(#141e30,#243b55);
}

.contenedor{
    -fx-background-color: rgba(0,0,0,0.5);
    -fx-background-radius: 10px;
}

.btnLogin{
    -fx-background: transparent;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-text-fill: white;
    -fx-border-color: #03e9f4;
}

.btnLogin:hover{
    -fx-background-color: #07468e;
}

.text{
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
}

