
.navM{
    -fx-background-color:  #080e18;
    -fx-border-color: #637cac;
    -fx-border-width: 0px 0px 3px 0px;
}

.navModulo{
    -fx-background-color: #141e30;
    -fx-border-color: #03e9f4;
    -fx-border-width: 0px 0px 3px 0px;
}

.cards{
    -fx-background-color: #1d2d4a;
}

.text{
    -fx-text-fill: white;
    -fx-prompt-text-fill: #637cac;
}

.dp{
    -fx-text-fill: white;
    -fx-prompt-text-fill: #637cac;
}

.lbl{
    -fx-background-color: #465C84;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
}

.lblArc{
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: white;
}

.btnGuardar{
    -fx-border-color: #03e9f4;
    -fx-border-radius: 5px;
}

.btnGuardar:hover{
    -fx-border-width: 0px;
    -fx-background-color: #0b5ed7;
}

.btnEliminar{
    -fx-border-color: #03e9f4;
    -fx-border-radius: 5px;
}

.btnEliminar:hover{
    -fx-border-width: 0px;
    -fx-background-color: #BB2E3B;
}

.btnExaminar{
    -fx-background-color: white;
    -fx-text-fill: black;
}

.btnExaminar:hover{
    -fx-background-color: black;
    -fx-text-fill: white;
}

.btnNuevo{
    -fx-border-color: #03e9f4;
    -fx-border-radius: 5px;
}

.btnNuevo:hover{
    -fx-border-width: 0px;
    -fx-background-color: #167347;
}

.table-view{
    -fx-background-color: #080e18;
    -fx-base: #080e18;
    -fx-table-cell-border-color: transparent;
    -fx-table-cell-header-color: transparent;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell: hover {
    -fx-background-color: #080e18;
    -fx-text-background-color: #03e9f4;
}
.table-row-cell: odd{
    -fx-background-color: #141e30;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell: even{
    -fx-background-color: #141e30;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}